$color__primary: #CDA25F;
$color__primary-light: #FFE1AD;
$color__primary-dark: #A7804D;
$color__primary-saturated: #cf933f;
$color__primary-dark-saturated: #a36d22;
$color__background: #030303;
$color__copy: #CCC;
$color__mid: #999;
$color__dark: #2f373b;
$color__dark-brown: #302417;

$font__heading: 'Orbitron', sans-serif;
$font__main: 'Titillium Web', sans-serif;

